#masthead {
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    @include transition(.3s ease);

    &.hidden {
        display: none;
    }

    &.scrolled {
        @include box-shadow(2px 2px 8px #8c8c8c);
    }

    .menu {
        padding: 0 5%;
        max-height: 120px;
        width: calc(100% - (5% * 2));
        @include display-flex;
        @include align-items(center);

        .menu-header-container {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: auto;
            min-width: 160px;
            max-width: 240px;
        }

        ul {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            @include display-flex;
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(flex-end);

            li {
                list-style: none;
                padding: 0 20px;
                cursor: pointer;

                a {
                    @include transition(.4s ease);
                    text-decoration: none;
                    font-weight: 700;
                    display: inline-block;
                    padding: 5px 15px;
                    border-radius: 25px;
                    cursor: pointer;

                    &:hover {
                        @include box-shadow($box-shadow);
                        background: $main;
                        color: #fff;
                    }
                }
            }
        }
    }

}

#masthead-responsive {
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9998;
    width: 100%;
    @include transition(.3s ease);
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);

    &.hidden {
        display: none;
    }

    &.scrolled {
        @include box-shadow(2px 2px 8px #8c8c8c);
    }

    .logo {
        margin-left: 5%;
        img {
            width: 100%;
            height: auto;
            min-width: 160px;
            max-width: 170px;
            @include media(small-tablet){
                min-width: 120px;
                max-width: 140px;
            }
        }
    }


    .burger {
        z-index: 10000;
        margin-right: 5%;
        display: block;

        .icon {
            @include icon($hamburger-bars);
            width: 24px;
            height: 25px;

            &.opened {
                @include icon($times-cross);
            }
        }

    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        background: $main;
        @include justify-content(center);

        &[aria-hidden="true"] {
            display: none;
        }

        &[aria-hidden="false"] {
            @include display-flex;
        }

        .menu-header-container {
            width: 100%;
            height: 100%;
        }

        ul {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            @include display-flex;
            @include flex-direction(column);
            @include align-items(center);

            li {
                list-style: none;
                padding: 0 20px;
                margin: 40px 0;
                cursor: pointer;

                a {
                    @include transition(.4s ease);
                    text-decoration: none;
                    font-weight: 700;
                    display: inline-block;
                    padding: 5px 15px;
                    border-radius: 25px;
                    color: #fff;
                }
            }
        }
    }
}