@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font-family-base: "Poppins", Helvetica, Arial, sans-serif !default;

//colors
$light-grey: #404040;
$lighter-grey: #909090;
$nice-grey: #E8E8E8;
$red-mid: #e34234;

//backgrounds
$background-black: rgba(17, 17, 17);

//text-colors and fonts
$text-color: #404040;
$text-lighter: #909090;